In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
# from sklearn_pandas as skpd

In [2]:
rating = pd.read_csv('data.tsv', sep='\t')

In [3]:
rating

            tconst  averageRating  numVotes
0        tt0000001            5.7      1834
1        tt0000002            6.0       236
2        tt0000003            6.5      1593
3        tt0000004            6.0       153
4        tt0000005            6.2      2410
...            ...            ...       ...
1201143  tt9916682            5.6         5
1201144  tt9916690            6.6         5
1201145  tt9916720            5.2       147
1201146  tt9916766            7.1        17
1201147  tt9916778            7.4        32

[1201148 rows x 3 columns]

In [5]:
genre=pd.read_csv('data2.tsv', sep='\t')
genre

C:\Users\dasgu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8411465,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8411466,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8411467,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8411468,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8411469,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [6]:
df_cd = pd.merge(rating, genre, how='inner', on = 'tconst')

In [7]:
df_cd = df_cd[df_cd['genres'].notnull()]
df_cd =df_cd.reset_index()
df_cd

,index,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,0,tt0000001,5.7,1834,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,1,tt0000002,6.0,236,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,2,tt0000003,6.5,1593,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,3,tt0000004,6.0,153,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,4,tt0000005,6.2,2410,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...,...,...,...
1201140,1201142,tt9916682,5.6,5,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0,2012,\N,10,"Adventure,Animation,Comedy"
1201141,1201143,tt9916690,6.6,5,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012,\N,10,"Adventure,Animation,Comedy"
1201142,1201144,tt9916720,5.2,147,short,The Nun 2,The Nun 2,0,2019,\N,10,"Comedy,Horror,Mystery"
1201143,1201145,tt9916766,7.1,17,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,43,"Family,Reality-TV"
1201144,1201146,tt9916778,7.4,32,tvEpisode,Escape,Escape,0,2019,\N,\N,"Crime,Drama,Mystery"

In [8]:
print(df_cd['genres'][1].split(','))

['Animation', 'Short']

In [10]:
arr = []
j =0
s1={}

for s in df_cd['genres']:
  a= s.split(',')
  
  for i in a:
    s1[i]=1;
  arr.append(s.split(','))
  # df=df_cd
# df=pd.DataFrame(index=range(len(df_cd)));
#for s in s1:
  # df=df_cd
# df=pd.DataFrame(index=range(len(df_cd)));
for s in s1:
  df_cd[s]=0;
for s in df_cd['genres']:
  a= s.split(',')
  for i in a:
    df_cd[i][j]+=1
  j=j+1
df_cd
#len(df_cd['genres'])

<ipython-input-10-b784dcc24b37>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cd[i][j]+=1

,index,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,...,Mystery,\N,Sci-Fi,Musical,Thriller,Film-Noir,Game-Show,Talk-Show,Reality-TV,Adult
0,0,tt0000001,5.7,1834,short,Carmencita,Carmencita,0,1894,\N,...,0,0,0,0,0,0,0,0,0,0
1,1,tt0000002,6.0,236,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,...,0,0,0,0,0,0,0,0,0,0
2,2,tt0000003,6.5,1593,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,...,0,0,0,0,0,0,0,0,0,0
3,3,tt0000004,6.0,153,short,Un bon bock,Un bon bock,0,1892,\N,...,0,0,0,0,0,0,0,0,0,0
4,4,tt0000005,6.2,2410,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201140,1201142,tt9916682,5.6,5,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0,2012,\N,...,0,0,0,0,0,0,0,0,0,0
1201141,1201143,tt9916690,6.6,5,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012,\N,...,0,0,0,0,0,0,0,0,0,0
1201142,1201144,tt9916720,5.2,147,short,The Nun 2,The Nun 2,0,2019,\N,...,1,0,0,0,0,0,0,0,0,0
1201143,1201145,tt9916766,7.1,17,tvEpisode,Episode #10.15,Episode #10.15,0,2019,\N,...,0,0,0,0,0,0,0,0,1,0
1201144,1201146,tt9916778,7.4,32,tvEpisode,Escape,Escape,0,2019,\N,...,1,0,0,0,0,0,0,0,0,0

In [ ]:
l = {}
k = {}
m = {}
j=0
for s in df_cd['genres']:
  a= s.split(',') 
  for i in a:
    l[i]=0
    k[i]=0
    m[i]=0
for s in df_cd['genres']:
  a= s.split(',')
  for i in a:
    #l[i]+=1
    l[i]=(l[i]*k[i]+df_cd['averageRating'][j])/(k[i]+1)
    k[i]+=1
    m[i]+=df_cd['mumVo']
  j+=1
l